$background-color-dark: #171a21;
$background-color-light: #1b2838;
$background-text-color: #b8b6b4;
$primary-color: rgba(62, 126, 167, 0.8);
$secondary-color: rgba(255, 255, 255, 0.8);
$header-height: 60px;
